*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* width: 100%; */
   margin-left: 1200px;
   height: 100px;
}

.logo {
    padding: 10px;
    margin-left: 230px;
}

.h2 {
    font-size: 32px;
    /* margin: 8px; */
    padding: 25px;

}

.h2 h2 {
    margin-left: 20px;
}

.h2 h4 {
    font-size: 20px;
    padding: 15px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.647);
}

.h2 h5 {
    padding-top: 24px;
    font-size: 15px;
}

.click {
    margin-left: 25px;
    
}

 .forgot {
    margin: 287px;
    color: blue;
    /* padding: 0 0 10px 0; */
}
.form-contrl {
    padding-left: 25px;
    /* margin-left: 20px; */
    width: 500px;
    height: 36px;
    border-radius: 4px;
   border-color: 1px solid rgba(0, 0, 0, 0.373);
   
}

.sign {
    color: white;
   
    width: 510px;
    height: 30px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 4px;
    
}

.href {
    color: white;
    margin-left: 220px;
}

.in {
    background: #0D6EFD;
    width: auto;
    border-radius: 4px;
    padding: 6px 12px 8px 12px;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 515px;
    height: 40px;
    border: 2px solid #4285F4;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    color: #4285F4;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 20px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 34px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000a2;
    margin-top: 30px;
    margin-left: 80px;
}

.ar {
    margin-left: 10px;
}